<div class = "modal fade in" role = "dialog" aria-labelledby = "modalLabel" aria-hidden = "true" id = "modal">
	<div class = "modal-dialog">
		<div class = "modal-content">
			<div class = "modal-header">
				<h4 class = "modal-title">Фильтр</h4>
				<button 
                    type = "button" 
				    class = "close"
				    >
				    <span>x</span>    	
				</button>
			</div>
			<div class = "modal-body">
				<div class = "form-group">
					<label 
					    for = "period" 
					    class = "control-label">Выберите период
					</label>
					<select 
					    id = "period" 
					    class = "form-control"
					    >
					    	<option 
					    	    >
					    	        
					    	</option>
					</select>
				</div>
				<div class = "form-group">
					<label class = "control-label">
						Выберите тип события
					</label>
					<div>
						<label>
						    <input 
						        type = "checkbox"
						        class = "checkbox"
						        >
						        <span>  </span>
					    </label>
					</div>
				</div>
				<div class = "form-group">
					<label class = "control-label">
						Выберите категории
					</label>
					<div>
						<label>
							<input 
                                class = "checkbox"
							    type = "checkbox"
							    >
							    <span>  </span>
					    </label>
					</div>
				</div>
				<div class = "modal-footer">
					<button 
					    type = "button" 
					    class = "btn btn-secondary"
					    >
					    Отмена
				    </button>
					<button 
					    type = "button" 
					    class = "btn btn-info"
					    >
					    Применить
					</button>
				</div>
			</div>
		</div>
	</div>
</div>